<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kitchen Coder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="container">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Kitchen Coder</ion-card-title>
      <ion-card-subtitle>A delicious way to learn html</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>
        Kitchen Coder is a tool to assist beginning students when they are learning the basics of HTML and CSS.
        It is based on the PRIMM principles and uses the blockly library to present the HTML syntax as jigsaw puzzle pieces.
        This way students can focus on learning the concepts behind the web elements without having to worry about syntax errors and typo's. 
      </p><br/>

      <p> The project was made by the <a href="https://wise.vub.ac.be" target="_blank">Web and Information Systems Engineering lab</a> at the <a href="https://www.vub.be/en" target="_blank">Vrije Universiteit Brussel</a>.</p>
      <div class="members-container">
        <div class="member">
          <img width="100px" src="assets/yoshi.png" alt="Picture of Yoshi"><br/>
          <div>Yoshi Malaise</div>
        </div>
        <div class="member">
          <img width="100px" src="assets/beatSigner.png" alt="Picture of prof. dr. signer"><br/>
          <div>prof. dr. Beat Signer</div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>

</ion-content>
