<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Level Select
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
      <ion-card class="card">
        <ion-card-header>
          <ion-card-title>Recipe Select</ion-card-title>
          <ion-card-subtitle>Select the recipe you want to digitize</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
        
          <div class="level-group" *ngFor="let lgroup of state.levelGroups">
            <h3> {{ lgroup.name }}</h3>

            <ion-list>
              <ion-item button (click)="selectLevel(level)" *ngFor="let level of lgroup.levels">
                  <ion-label> {{ level.name }}</ion-label>
                  <ion-checkbox disabled [(ngModel)]="level.completed" slot="end"></ion-checkbox>
              </ion-item>
            </ion-list>
          </div>

        </ion-card-content>
      </ion-card>
  </div>
</ion-content>