<ion-header>
  <ion-toolbar>
    <ion-title>Hints</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p>{{ state.hintVM.generalComment }} </p>

  <h4>Here are some element you will probably need:</h4>
  <div class="element-hint-container" *ngFor="let elHint of state.hintVM.requiredElements">
    <h6>{{ elHint.name }} </h6>
    <span>{{ elHint.description }}</span><br/>
    <span><a [href]="elHint.link" target="_blank">Read more on the documentation page</a></span>
  </div>
</ion-content>