.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.code-editor {
    height: 100%;
    width: 34%;
}

.result-viewer {
    height: 100%;
    width: 33%;
}

.goal-snippet {
    height: 100%;
    width: 33%;
}

/** mobile only css **/
.mobile-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-result-viewer, .mobile-goal-snippet, .mobile-code-editor {
    height: calc(100% - 40px);
    width: 100%;
}